<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZipView"
        tools:targetApi="31">
        <activity
            android:name=".editMyinfoActivity"
            android:exported="false" />
        <activity
            android:name=".likeActivity"
            android:exported="false" />
        <activity
            android:name=".mycommentActivity"
            android:exported="false" />
        <activity
            android:name=".commentActivity"
            android:exported="false" />
        <activity
            android:name=".myreviewActivity"
            android:exported="false" />
        <activity
            android:name=".setupActivity"
            android:exported="false" />
        <activity
            android:name=".mypageActivity"
            android:exported="false" />
        <activity
            android:name=".findPasswdActivity"
            android:exported="false" />
        <activity
            android:name=".showEmailActivity"
            android:exported="false" />
        <activity
            android:name=".findIdOrPasswdActivity"
            android:exported="false" />
        <activity
            android:name=".signupActivity"
            android:exported="false" />
        <activity
            android:name=".loginWithPasswdActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>